@model TestingSystem.DataTranferObject.UserRegister
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Đăng ký thành viên</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Assets/AdminLayout/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/AdminLayout/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Assets/AdminLayout/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/AdminLayout/dist/css/AdminLTE.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Assets/AdminLayout/plugins/iCheck/square/blue.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a href="/"><b>Đăng ký</b> thành viên</a>
        </div>
        <div class="register-box-body">
            <p class="login-box-msg">Đăng ký tài khoản để trở thành thành viên của hệ thống</p>
            @*@using (Html.BeginForm(new {@id="form-login"}))*@
            <form id="form-login" method="post">
                <div class="form-group has-feedback">
                    <input type="text" name="fullname" class="form-control" placeholder="Họ và tên"
                           pattern=".{5,50}" required="true" title="Vui lòng điền tên của bạn!">
                    <span class="glyphicon fa fa-id-card form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="email" name="email" required="true" class="form-control" placeholder="Email">
                    <span class="glyphicon fa fa-envelope-o form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" name="username" class="form-control" placeholder="Tên tài khoản"
                           pattern="[a-z,0-9]{5,16}" required="true" title="Tên tài khoản không hợp lệ!">
                    <span class="glyphicon fa fa-user-o form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" name="password" id="password1"
                           pattern=".{5,16}" required="true" title="Mật khẩu không hợp lệ!"
                           class="form-control" placeholder="Mật khẩu">
                    <span class="glyphicon fa fa-key form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="password" name="comfirmPassword" id="password2"
                           pattern=".{5,16}" required="true" title="Mật khẩu không hợp lệ!"
                           class="form-control" placeholder="Xác nhận mật khẩu">
                    <span class="glyphicon fa fa-key form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="checkbox icheck">
                            <label>
                                <input id="cbRegister"
                                       style="display: block;
                                        width: 50%; height: 50%; margin: 0px; padding: 0px; background: rgb(255, 255, 255);
                                        border: 0px; "
                                       required="true" type="checkbox"/> Tôi đồng ý với <a href="#cbRegister">điều khoản</a> 
                                dịch vụ của hệ thống.
                            </label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Đăng ký</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>
            <a href="/Login" class="text-center">Bạn đã có tài khoản, đăng nhập ngay.</a>
        </div>
        <!-- /.form-box -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery 3 -->
    <script src="~/Assets/AdminLayout/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Assets/AdminLayout/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/Assets/AdminLayout/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '10%',
                
            });
        });  

        function Submit(x) {
            var a = document.getElementById('cbRegister');
            if (!a.check) {
                x.submit = false;
            }
        }
    </script>
</body>
</html>
